*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
}

h1{
    text-align: center;
    font-size: 3.5rem;
    color: white;
}

h1 span{
    color: lightblue;
}

form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

form label input{
    display: block;
    width: 585px;
    height: 35px;
    margin-top: 15px;
    font-size: 1.2rem;
}

form label select{
    padding: 10px 0;
    font-weight: bold;
}

form input[type="submit"]{
    padding: 5px 250px;
    background-color: lightblue;
    border: none;
    font-size: 1.3rem;
    color: white;
    margin-top: 10px;
}

table,tr{
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    background-color: aliceblue;
}
td{
    padding: 4px;
}



.delete{
    background-color: red;
    color: white;
    border: none;
    padding: 1px;
    border-radius: 5px;
    font-weight: bold;
}